.list-navegation a {
  color: green;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

nav .list-navegation {
  font-size: 30px;
  color: red;
}

.footer {
  background: skyblue;
}

.list-footer a {
  color: red;
  text-decoration: none;
  font-size: 30px;
}

.list-footer {
  color: blue;
}

.list-footer a:active {
  color: green;
}

.list-footer a::before {
  content: "|";
}
