/* Colores Primarios*/
/*h1 {
  color: purple;
  font-size: 90px;
}*/
/*Colores Hexadecimales*/
/*h1 {
  color: #69e339;
  font-size: 90px;
}*/

/*Colores RGB*/
h1 {
  color: rgb(0, 0, 225, 0.5);
  font-size: 80px;
  background-color: greenyellow;
  height: 200px;
  width: 800px;
}

span {
  font-size: 80px;
  background: red;
}
